
<div class="form-body">
  <form
    autocomplete="off"
    [formGroup]="createForm"
    (ngSubmit)="onCreate(createForm.value)"
  >
    <div class="mb-3">
      <label class="form-label">Name: </label>
      <input type="text" class="form-control" formControlName="name" autocomplete="off" />
    </div>
    <div class="mb-3">
      <label class="form-label">Description: </label>
      <input type="text" class="form-control" rows="3" formControlName="description" autocomplete="off" />
    </div>
    <div class="mb-3">
      <label class="form-label">City: </label>
      <input type="text" class="form-control" formControlName="city" autocomplete="off" />
    </div>
    <div class="mb-3">
      <label class="form-label">Stars: </label>
      <input type="text" class="form-control" formControlName="stars" autocomplete="off" />
    </div>
    <div class="form-check">
         <input class="form-check-input" type="checkbox" value="" formControlName="trouble" id="flexRadioDefault1">
         <label class="form-check-label" for="flexRadioDefault1">
            trouble  
         </label>
     </div>
    <button type="submit">Submit</button>
  </form>
</div>

<div *ngFor="let restaurant of restaurants">
  <div>{{ restaurant?.city }}</div>
  <div>{{ restaurant?.name }}</div>
  <div>{{ restaurant?.description }}</div>
  <div>{{ restaurant?.stars }}</div>
  <div>{{ restaurant?.trouble }}</div> 
</div>

Hello<script>
   console.log(Town[0]);
</script>
<p>restaurants works!</p>
